:root {
  --table-color: forestgreen;
  --row-bg-color: honeydew;
  font-family: Calibri, Myriad;
}

#game-table {
  text-align: center;
  border: solid 2px green;
  height: 200px;
  width: 400px;
}

table > caption {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: green;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: #d6eeee;
}
