.container {
  margin: 5px;
  font-size: 13px;
  text-align: center;
}
h1 {
  font-size: 16px;
  color: #444444;
  font-family: "Roboto";
}
.offer {
  display: inline-block;
  width: 400px;
  margin: 4px;
  text-align: center;
  border: solid 1px #cccccc;
}
.offerTitle {
  font-size: 14px;
  font-weight: bold;
  background-color: #00b3b3;
  font-family: Helvetica;
}
.offerContents {
  padding: 20px;
  background-color: #fafafa;
  font-family: "sans-serif";
}
table {
  width: 100%;
  background-color: #ffffff;
  text-align: left;
}
th {
  font-weight: bold;
  font-size: 12px;
  color: #777777;
  padding: 10px;
}
td {
  font-weight: lighter;
  color: #444444;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}
.finalValue{
font-weight: bold;
color: #2222ff;
}